package pages

import "github.com/hubkudev/sentinel/views/components"

templ IndexPage() {
	@components.Layout("Sentinel") {
		<body>
			<h1 class="text-4xl">Welcome to Sentinel Alpha.</h1>
			<a href="/events">Go directly to events</a>
		</body>
	}
}
