package pages

import "github.com/hubkudev/sentinel/views/components"

templ IndexPage() {
	@components.Layout("Sentinel") {
		<body>
			<h1 class="text-4xl">Hello from Sentinel index page!</h1>
			<p>Why not you like it <strong>Here!</strong></p>
		</body>
	}
}
